<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduFlow.ai</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script
      src="https://kit.fontawesome.com/98ff2807b0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body data-theme="dark">
    <!-- Main Container -->
    <div class="main-container">
      <!-- Sessions Panel -->
      <div id="sessionsPanel" class="sessions-panel">
        <!-- <h2 class="title">Sessions</h2> -->
        <div id="sessionsList" class="sessions-list">
          <!-- Sessions will be dynamically inserted here -->
        </div>
        <!-- <button id="deleteAllBtnInPanel" class="action-btn">Delete All</button> -->
      </div>

      <!-- Content Container -->
      <div class="content-container">
        <!-- Header -->
        <div class="header">
          <h1 class="title">EduFlow.ai</h1>
          <button id="themeToggle" class="btn action-btn">
            <span class="icon"><i class="fa-solid fa-moon"></i></span>
          </button>
        </div>

        <!-- Result Section -->
        <div id="result" class="result-section">
          <!-- Content generated here -->
        </div>
      </div>

      <!-- Input Section -->
      <div class="input-section">
        <input
          type="text"
          id="topic"
          placeholder="Enter a topic"
          class="input-box"
        />
        <div class="level-slider">
          <span>Beginner</span>
          <label class="switch">
            <input type="checkbox" id="levelSlider" />
            <span class="slider round"></span>
          </label>
          <span>Advanced</span>
        </div>
        <button id="generateBtn" class="btn action-btn">
          <span id="buttonIcon" class="icon"
            ><i class="fa-solid fa-arrow-up"></i
          ></span>
        </button>
      </div>
    </div>

    <script src="/static/app.js"></script>
  </body>
</html>
